<app-navbar [state]="state"></app-navbar>
<div class="container">
  <div class="container box-wrap">
    <h1>IPO's</h1>
    <button class="btn btn-dark add-btn col-2"  *ngIf="state=='admin'" routerLink="/addIpo">Add a IPO</button>
  </div>
  <div class="mt-5 row container outer-div"  *ngIf="state=='user'">
    <div class="dropdown col-xs-12 col-sm-6 col-xl-5 btn-div">
      <button class="btn btn-outline-dark dropdown-toggle col-12" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        {{dropDownTitle}}
      </button>
      <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton1">
        <li class="dropdown-item" (click)="clearFilter()">Clear Filter</li>
        <li><hr class="dropdown-divider"></li>
        <li class="dropdown-item" *ngFor="let s of allIpos" (click)="onCompanyClick(getCompanyId(s))">{{getCompanyName(getCompanyId(s))}}</li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-4 col-xl-3 btn-div">
      <button class="btn btn-dark" (click)="onLoadComapnies()">Show Companies</button>
    </div>
  </div>
  <div *ngIf="state=='admin'">
    <div class="container box-wrap" *ngIf="this.ipos.length">
      <div class="table-responsive">
        <table class="table table-striped align-middle">
          <thead>
            <tr>
              <th>ID</th>
              <th>Company Name</th>
              <th>Company ID</th>
              <th>Listed In</th>
              <th>Exchange ID</th>
              <th>Price Per Share</th>
              <th>Shares</th>
              <th>Opening Date and Time</th>
              <th>Remarks</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of ipos">
              <td>{{ c.id }}</td>
              <td>{{ getCompanyName(getCompanyId(c)) }}</td>
              <td>{{ getCompanyId(c) }}</td>
              <td>{{ getExchangeName(getStockExchangeId(c)) }}</td>
              <td>{{ getStockExchangeId(c) }}</td>
              <td>{{ c.pricePerShare | currency:'INR' }}</td>
              <td>{{ c.totalShares }}</td>
              <td>{{ c.dateTime | date:'medium' }}</td>
              <td>{{ c.remarks }}</td>
              <td class="text-nowrap">
                <button class="btn btn-dark" routerLink="/updateIpo/{{getCompanyId(c)}}">Update</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div  *ngIf="state=='user'">
    <div class="container box-wrap" *ngIf="this.ipos.length">
      <div class="table-responsive">
        <table class="table table-striped align-middle">
          <thead>
            <tr>
              <th>Company Name</th>
              <th>Listed In</th>
              <th>Price Per Share</th>
              <th>Shares</th>
              <th>Opening Date and Time</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of ipos">
              <td>{{ getCompanyName(getCompanyId(c)) }}</td>
              <td>{{ getExchangeName(getStockExchangeId(c)) }}</td>
              <td>{{ c.pricePerShare | currency:'INR' }}</td>
              <td>{{ c.totalShares }}</td>
              <td>{{ c.dateTime | date:'medium' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
