<app-navbar [state]="state"></app-navbar>
<div class="container">
  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">{{ errorMessage }}</div>
  <div *ngIf="successMessage" class="alert alert-success" role="alert">{{ successMessage }}</div>
  <div class="mt-5 row container outer-div">
    <div class="dropdown col-xs-12 col-sm-6 col-xl-5 btn-div">
      <button class="btn btn-secondary dropdown-toggle col-12" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        {{dropDownTitle}}
      </button>
      <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton1">
        <li class="dropdown-item" *ngFor="let s of sectors" (click)="onSectorClick(s)">{{s.name}}</li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-4 col-xl-3 btn-div">
      <button class="btn btn-primary" (click)="onLoadComapnies()">Show Companies</button>
    </div>
  </div>
  <div class="container" *ngIf="this.companies.length">
    <div class="table-responsive">
      <table class="table table-striped align-middle">
        <thead>
          <tr>
            <th *ngIf="state === 'admin'">ID</th>
            <th>Name</th>
            <th *ngIf="state === 'admin'">Sector ID</th>
            <th>CEO</th>
            <th>Turnover</th>
            <th>Brief</th>
            <th *ngIf="state === 'admin'">Board of Directors</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of companies">
            <td *ngIf="state === 'admin'">{{ c.id }}</td>
            <td>{{ c.companyName || c.name }}</td>
            <td *ngIf="state === 'admin'">{{ c.sectorId }}</td>
            <td>{{ c.ceo }}</td>
            <td>{{ c.turnover | currency }}</td>
            <td>{{ c.briefWriteup || c.brief }}</td>
            <td *ngIf="state === 'admin'">{{ c.boardOfDirectors }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="this.companies.length == 0" class="d-flex flex-column align-items-center noshow">
    <img src="../../../assets/empty.svg" alt="Nothing to show">
    <h3 class="mt-5">No results Found</h3>
  </div>
</div>

