<app-navbar [state]="state"></app-navbar>
<div class="container">
  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">{{ errorMessage }}</div>
  <div *ngIf="successMessage" class="alert alert-success" role="alert">{{ successMessage }}</div>
  <div class="container box-wrap">
    <h1>Stock Exchanges</h1>
    <button class="btn btn-dark add-btn" routerLink="/addExchange">Add Stock Exchange</button>
  </div>
  <div class="container box-wrap" *ngIf="this.exchanges.length">
    <div class="table-responsive">
      <table class="table table-striped align-middle">
        <thead>
          <tr>
            <th *ngIf="state === 'admin'">ID</th>
            <th>Name</th>
            <th>Brief</th>
            <th>Street</th>
            <th>City</th>
            <th>Country</th>
            <th>Zip Code</th>
            <th>Remarks</th>
            <th *ngIf="state === 'admin'">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of exchanges">
            <td *ngIf="state === 'admin'">{{ c.id }}</td>
            <td>{{ c.name }}</td>
            <td>{{ c.brief }}</td>
            <td>{{ c.address.street }}</td>
            <td>{{ c.address.city }}</td>
            <td>{{ c.address.country }}</td>
            <td>{{ c.address.zipCode }}</td>
            <td>{{ c.remarks }}</td>
            <td *ngIf="state === 'admin'" class="text-nowrap">
              <button class="btn btn-dark me-2" routerLink="/updateExchange/{{c.id}}">Update</button>
              <button class="btn btn-danger" (click)="deleteExchange(c)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
